.third{
    color:#fff;
    margin-top: 1%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    
    img{
        display: flex;
        height: 532px;
    }
       
    table{
        border-spacing: 40px;
        margin-left: -3.5%;
        margin-right: -5%;
        margin-top: -4%;

    }


}
.h1{
    font-family:"Cormorant Italic";
    font-size: 24px;
    display: block;
    color:#fff;

}